<form action="/"  method="post">
<input type="text" name="name" placeholder="Enter Name">
<input type="text" name="email" placeholder="Email Batao">
<input type="text" name="phone" placeholder="Phone batao">
<input type="submit">
</form>


<br><br>
